.crystal-image {
    height: 175px;
  
}

 body {
    
    background-image: url('../images/thanos.jpg');


    width: 100%;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    opacity: .8;
 }  

  .container {
     margin-top: 1%;
 } 
 
 .alert {
    width: 100%;
    margin-top: 1%;
 }

p {
    color: white;
}

 
h1 {
    color: white;
}


html {
    cursor: url('../images/Gauntlet\ 6.cur'), default;
  }